/* Reset some default styles */
body, h1, h2, h3, p, ul, li, form, input, textarea, button {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  background-color: #f8f8f8;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #24c3cb;
}

main {
  padding-top: 80px; 
}

.section {
  padding: 4rem 0;
  text-align: center;
}

.section h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #010204;
  margin-bottom: 1rem;
}

.section p {
  font-size: 1.1rem;
  color: #777;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.hero {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("360_F_531798391_XFz7gyPmDRTAfiEE5sRjFu5NpKrJt4rC.jpg");
  background-size: cover;
  color: #000000;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-list li {
  margin: 10px;
  padding: 15px 25px;
  background-color: #38054b;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
}

.project-item {
  background-color: #f8f8f8;
  border: 1px solid #9b66a6;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-item h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.project-item p {
  font-size: 1.1rem;
  color: #444;
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 3rem; 
  }

  .subtitle {
    font-size: 1.2rem;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.social-media a {
  color: #333;
  font-size: 3rem;
  margin: 0 0.5rem;
  transition: color 0.2s;
}

.social-media a:hover {
  color: #626468;
}
img {
  max-width: 150px;
  height:150px;
}

.header {
  background-size: cover;
  background-position: center;
  height: auto; 
  width: auto;
}
.heads {
  
  background-size: cover;
  background-position: center;
  height: auto; 
  width: auto;
  background-image: url('360_F_531798391_XFz7gyPmDRTAfiEE5sRjFu5NpKrJt4rC.jpg');
}

.images {
  border: #000000;
}

.magnify-img {
  max-width: 100%;
  vertical-align: middle;
  cursor: zoom-in;
}
.border-img {
  display: inline-block;
  padding: 10px;
  position: relative; 
}
.border-img:hover .magnify-img {
  transform: scale(2); /* Increase the image size on hover */
  transition: transform 0.3s ease-in-out;
}
.head-bgcontainer {
  background-color: #51575a;
}
.imgs {
  width: 70px;
  height: 70px;
}
.navbar-expand-lg {
  height: 50px;
}
